body{
  text-align: left;
  margin: 0;
  font-family: "Montserrat";



}

#title {
  background-color: #CEE5D0;
  color:#fff;

}

.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}

.contatiner-fluid{
  padding: 3% 15%;

}

h1{
  font-family: Montserrat;
  font-size: 3rem;
  line-height: 1.5;

}
.tennisbilde{
height: 100px;

}
.middle-container{


}
hr{

border-style: none;
border-top-style:dotted;
border-width: 5px;
width: 6%;
text-align: center;
color: grey;
}

.middle-container{
  padding-top: 5px;
  background-color: #F9D5A7;
  margin:0px;
  border: 0;
  width: 100%;

}

#features {
  padding: 7% 15%;

}

.feature-box{
  text-align: center;
  padding: 4%;

}

h3{
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;

}

p{
  color:#8f8f8f;
  font-family: monospace;

}
.bottom-container{
  padding-top: 5px;
  background-color: #FF6D6D;
  margin:0px;
  border: 0;
  width: 100%;

}

.bottom-left{
  text-align: left;
  margin-left: 2em;
}

.icon{
  color:#2F86A6;
  margin-bottom: 1rem;

}

.icon:hover{
  color:#32C1CD;

}
